<!DOCTYPE html>
<html>
  <head>
    <title>Xen Display</title>
    <link type="text/css" href="/css/reset.css" rel="stylesheet" />
    <link type="text/css" href="/css/app.css" rel="stylesheet" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Oswald|Lato:300' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header>
      <h1>Server list</h1>
    </header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>